/*Gernal Styling */
body{
    font-family : Arial, Helvetica, sans-serif;
    background-color :rgb(227, 231, 231);
    margin: 0;
    padding: 150px
}
.resume-container{
    display : flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(67, 60, 131, 0.1)
}
/*Left section Styling*/
.left-section{
    background-color: rgb(156, 203, 235);
    color : rgb(27, 24, 24);
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgb(71, 41, 109);
}

.profile-picture{
    width: 150px;
    height : 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #8a167a;
    margin-bottom : 20px;
}
h1{
    font-size:24px; 
    margin: 10px 0 ;
    margin-bottom: 30px;
    text-align: center;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin:20px 0 10px;
    color:black;
    border-radius: 10px;
    box-shadow: 0 0 15px #c20eaa;
    margin-top: 5%;
    margin-bottom: 5%;

}
ul{
list-style-type: fill round;
padding: 10;
margin: 10px 0;

}

ul li {
margin: 5px 0;
}
/*Right Section Styling*/
.right-section{
    padding: 20px;
    width: 65%;
    background-color: rgb(240, 228, 228);

}
button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(143, 27, 158);
    cursor : pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{
    background-color: blueviolet;
}